// colors
$black: #2d3242;
$black2: #12191d;
$black-light: #2f4353;
$red: #fd4d35;
$white: #ffffff;
$grey: #818798;
$grey2: #f5f7f7;
$grey3: #d3d6dd;
$grey4: #e7eaf1;
$bg-grey: #ebebeb;
$grey-title: #687078;
$grey-middle: #818798;
$grey-light: #95979f;
$blue: #2d97f9;
$navy: #01b9c5;

// breackpoints;
$dt: 1280px;
$th: 832px;
$tb: 768px;
$ph: 600px;

//transition
$transition: 0.3s;

//hover
$opacity: 0.5;
